@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "poppins", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #02245d;
  --color-secondary: #2077c1;
  --color-tertiary: #0398ad;
}

.city-pill {
  @apply bg-white px-4 py-2 rounded-full text-base cursor-pointer
        hover:bg-tertiary text-nowrap hover:text-white transition duration-300;
}

@layer components {
  .weather-forecast-card {
    @apply bg-tertiary/75 backdrop-blur-sm rounded-2xl p-7;

    h3 {
      @apply text-white font-semibold text-lg sm:text-xl;
    }
    p {
      @apply text-white text-base sm:text-lg;
    }

    div:nth-of-type(1) {
      @apply flex items-center gap-4 justify-between sm:mt-2;
      img {
        @apply scale-120 h-20 w-20 ml-[-10px];
      }
      p {
        @apply text-4xl font-semibold;
      }
    }

    div:nth-of-type(2) {
      @apply flex items-center gap-3 justify-around mt-2 sm:mt-4;
      img {
        @apply w-5 h-5;
      }
      p {
        @apply text-[16px] font-normal;
      }
    }
  }

  .alert-container {
    @apply rounded-xl bg-red-50 p-5 gap-3 mt-5 shadow-xl flex-col items-start sm:flex-row sm:items-center sm:gap-5;
    img {
      @apply w-6 h-6 sm:w-8 sm:h-8;
    }
    p {
      @apply text-red-600 text-sm sm:text-base;
    }
  }

  #toast-message-container {
    @apply fixed bottom-6 right-0 z-10 px-5 sm:px-10;

    div {
      @apply min-w-60 text-white rounded-xl px-4 py-3 mb-3 transition-all duration-[600ms] ease-in-out opacity-0 transform-[translateX(100%)] bg-primary;
    }

    div.show {
      @apply opacity-100 transform-[translateX(0%)];
    }

    div.error {
      @apply bg-red-700;
    }

    div.success {
      @apply bg-green-700;
    }
  }
}

#recent-search {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#recent-search::-webkit-scrollbar {
  display: none;
}
